version: '3'
services:
  web:
    build:
      context: ./
      dockerfile: ./DockerFile-Dev
    container_name: node-server
    volumes: 
        - .: /usr/app/waffletracker/:rw
    working_dir:  /usr/app/waffletracker
    ports:
        - "80:80"